package ${info.entityPackageName}.vos.${info.moduleName};
import io.swagger.annotations.ApiModel;
import java.lang.*;
import java.math.BigDecimal;
import java.util.Date;
import ${info.entityPackageName}.dtos.${info.moduleName}.${info.className}Dto;
/**
 * @author ：${info.author}
 * @date ：Created at ${info.createDate}
 * @description：
 * @modified By：
 * @version: 1.0
 */
@ApiModel("${info.tableInfo.tableComments}视图")
public class ${info.className}Vo extends ${info.className}Dto  {
}
