package ${entityPackageName}.pos.${moduleName};

import com.baomidou.mybatisplus.annotation.TableName;
import ${entityPackageName}.pos.BasePo;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.experimental.FieldNameConstants;

import java.io.Serializable;

/**
 * @author ：jenkin
 * @date ：Created at 2020/12/3 20:30
 * @description：
 * @modified By：
 * @version: 1.0
 */
@Data
@FieldNameConstants
@TableName("${tableName}")
@ApiModel("${tableComments}")
public class ${className}Po extends BasePo implements Serializable {


#foreach ($column in $columns)
    @ApiModelProperty(" $column.comments")
    private $column.type $column.name;
#end
    
}
