package ${info.entityPackageName}.pos.${info.moduleName};

import com.baomidou.mybatisplus.annotation.TableName;
import ${info.entityPackageName}.pos.BasePo;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.experimental.FieldNameConstants;
import java.lang.*;
import java.math.BigDecimal;
import java.util.Date;
import java.io.Serializable;

/**
 * @author ：${info.author}
 * @date ：Created at ${info.createDate}
 * @description：
 * @modified By：
 * @version: 1.0
 */
@Data
@FieldNameConstants
@TableName("${info.tableInfo.tableName}")
@ApiModel("${info.tableInfo.tableComments}")
public class ${info.className}Po extends BasePo implements Serializable {


#foreach ($column in $info.tableInfo.columns)
    @ApiModelProperty(" $column.comments")
    private $column.javaType $column.javaColName;
#end
    
}
